err/
__pycache__/
formulations/__pycache__/
problems/__pycache__/
garbage/
.idea/
hpc_ssh/config.txt
latex/thesis.aux
latex/thesis.bbl
.gitignore
latex/thesis.bcf
.gitignore
latex/thesis.fdb_latexmk
latex/thesis.blg
latex/thesis.fls
latex/thesis.log
.gitignore
latex/thesis.out
latex/thesis.pdf
latex/thesis.run.xml
latex/thesis.synctex.gz
.gitignore
latex/thesis.toc
